# ==========================
# ZENDESK
# ==========================
ZENDESK_URL=
ZENDESK_USER=
ZENDESK_TOKEN=

# ==========================
# FIELDBEAT
# ==========================
FIELDBEAT_API_BASE_URL=
FIELDBEAT_API_USER=
FIELDBEAT_API_PASS=

# Para test local directo
FIELDBEAT_TASK_IDS=
FIELDBEAT_PAGE_SIZE=
FIELDBEAT_MAX_PAGES=
FIELDBEAT_DETAIL_CONCURRENCY=
FIELDBEAT_FETCH_DETAILS=

# ==========================
# DOLIBARR
# ==========================
DOLIBARR_URL=
DOLIBARR_TOKEN=
